
@font-face{
    font-family: 'Droid Serif';
    src: url('./fonts/Droid_Serif/DroidSerif.ttf');
  }
  @font-face{
    font-family: 'Droid Sans';
    src: url('./fonts/Droid_Sans/DroidSans.ttf');
  }
  @font-face{
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
  }
  @font-face{
    font-family: 'Ubuntu Mono';
    src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
  }


  body {
    font-family: 'Droid Serif';
  }
  h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
  }
  
  .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
  .remark-slide-content { font-family: 'Droid Sans'}
